/* banner section responsive style for mobile */
@media screen and (max-width:576px) {
    header{
        padding: 20px;
    }
    nav{
        flex-direction: column;
        gap: 20px;
        margin-left: 20px;
    }
    .nav-title{
        display: none;
    }
    .banner-text{
        width: 100%;
    }
    .banner-title{
        font-size: 1.5rem;
     }
     .banner-disc{
        line-height: 28px;
     }
}
/* midium device style banner section  */
@media screen and (min-width:576px) and (max-width:960px) {
    header{
        padding: 50px;
    }
    .banner-title{
        font-size: 2.2rem;
     }
     .banner-disc{
        line-height: 28px;
     }
}
/* feature section monile responsive style here */
@media screen and (max-width:576px) {
    .feature-section{
        text-align: center;
    }
    .feature-wrapper{
        grid-template-columns: 1fr;
        display: flex;
        flex-direction: column-reverse;
        gap: 50px;
    }
    .feature-inner img{
        margin: 10px;
    }
    .feature-content{
        width: 100%;
    }
    .feature-title{
        margin-bottom: 10px;
        font-size: 2rem;
    }
}
/* midium device for style here feature section  */
@media screen and (min-width:577px) and (max-width:960px) {
    .feature-wrapper{
        grid-template-columns: 1fr;
        display: flex;
        flex-direction: column-reverse;
    }
    .feature-section{
        text-align: center;
    }
    .feature-content{
        /* width: 100%; */
        margin: 0 auto;
    }
    .feature-title{
        font-size: 2rem;
    }
}