.container{
    display: flex;
    gap: 5px;

    
}
.left{
    background-color: #ddd;
    width: 30%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.right{
    background-color: antiquewhite;
    width: 70%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}